<div class="background-image" style="background-image: url(/assets/img/contact/contact-main-banner.jpg)">
  <div class="overlay-mf"></div>
  <div class="d-sm-flex align-items-center justify-content-between" style="padding: 30px 40px">
    <h1>Blog</h1>
    <p><span routerLink="/home">Home</span> / Category</p>
  </div>
</div>

<div class="container">
  <ul class="d-sm-flex">
    <li routerLink="/category/lifestyle">Lifestyle</li>
    <li routerLink="/category/Entertainment">Entertainment</li>
    <li routerLink="/category/culture">Culture</li>
    <li routerLink="/category/uncategorized">Uncategorized</li>
  </ul>
</div>
