.background-image {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .overlay-mf {
    background-color: #111111;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
  }

  h1{
    color: white;
    z-index: 1;
  }

  p{
    color: white;
    z-index: 1;

    span:hover{
      color: #ccbaa4;
      cursor: pointer;
    }
  }
}

.container{
  .card{
    margin: 5% 2%;
    .card-body{
      .card-title{
        font-size: 18px;
      }
      h3{
        margin: 0;
        font-size: 14px;
        color: dimgray;
      }
      p{
        font-size: 12px;
        color: silver;
        margin: 0;
      }
      span{
        font-size: 14px;
        color: #ccbaa4;
        margin: 0;
      }
      span:hover{
        color: #dccab4;
        cursor: pointer;
      }
      .card-text{
        font-size: 16px;
        color: dimgray;
        font-family: 'Kanit', sans-serif;
        margin-bottom: 5px;
      }
      a{
        text-decoration: none;
        color: dimgray;
      }
    }
  }
}
