<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center" style="width: 100%; margin: 4vw 0">
    <span>FREQUENTLY ASKED QUESTIONS</span>
    <h2>General Queries</h2>
  </div>

  <div class="faq-div">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do I book?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur dicta doloribus ea eligendi
          est hic id molestiae molestias nulla obcaecati officiis quas, sapiente sint tempora tempore vero. Doloribus
          eveniet excepturi maiores repudiandae voluptate. Consectetur doloribus eum illo iure laudantium nesciunt, nisi
          omnis quas quibusdam repellat sapiente tempore vitae voluptate.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can I cancel booking?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur dicta doloribus ea eligendi
          est hic id molestiae molestias nulla obcaecati officiis quas, sapiente sint tempora tempore vero. Doloribus
          eveniet excepturi maiores repudiandae voluptate. Consectetur doloribus eum illo iure laudantium nesciunt, nisi
          omnis quas quibusdam repellat sapiente tempore vitae voluptate.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            When do I checkout?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur dicta doloribus ea eligendi
          est hic id molestiae molestias nulla obcaecati officiis quas, sapiente sint tempora tempore vero. Doloribus
          eveniet excepturi maiores repudiandae voluptate. Consectetur doloribus eum illo iure laudantium nesciunt, nisi
          omnis quas quibusdam repellat sapiente tempore vitae voluptate.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
