<div class="main-banner">
  <img src="./assets/img/about/about-banner.jpg" alt="main-banner">
  <div class="banner-content">
    <span>A BIT ABOUT US</span>
    <h1>Finest Hotel in Town</h1>
  </div>
</div>

<div class="container">
  <div class="d-md-flex d-lg-flex justify-content-center" style="margin: 5vw 0">
    <div class="first-div-content">
      <span>WE CARE ABOUT PEOPLE</span>
      <h1>A Place You Can Trust</h1>
      <p>Make memories at Hotel Luxe, Amelia Island, where southern charm, magnificent scenery and casually elegant
        surroundings exemplify the gentle ambience of this barrier island’s luxury beachfront resort.</p>
      <p>Hotel Luxe is the perfect place to feed your spirit. With recently renovated rooms and a bolder focus on
        cuisine culture & more.</p>
      <div style="width: 200px">
        <img src="./assets/img/about/signature.png" alt="signature">
      </div>
    </div>
    <div class="first-div-content">
      <img src="./assets/img/about/about-1.jpg" alt="image 1">
    </div>
  </div>
</div>
