<div class="main-banner">
  <img src="./assets/img/about/about-banner.jpg" alt="main-banner">
  <div class="banner-content">
    <span>A BIT ABOUT US</span>
    <h1>Finest Hotel in Town</h1>
  </div>
</div>

<div class="container">
  <div class="d-md-flex d-lg-flex justify-content-center" style="margin: 5vw 0">
    <div class="first-div-content">
      <span>WE CARE ABOUT PEOPLE</span>
      <h1>A Place You Can Trust</h1>
      <p>Make memories at Hotel Luxe, Amelia Island, where southern charm, magnificent scenery and casually elegant
        surroundings exemplify the gentle ambience of this barrier island’s luxury beachfront resort.</p>
      <p>Hotel Luxe is the perfect place to feed your spirit. With recently renovated rooms and a bolder focus on
        cuisine culture & more.</p>
      <div style="width: 200px">
        <img src="./assets/img/about/signature.png" alt="signature">
      </div>
    </div>
    <div class="first-div-content">
      <img src="./assets/img/about/about-1.jpg" alt="image 1">
    </div>
  </div>
</div>

<div class="about-div-3">
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="about-div-3-cont">
      <img src="./assets/img/about/about-2.jpg" alt="banner-1">
    </div>
    <div class="about-div-3-cont" style="padding: 5%">
      <h2>Indulge in Luxury</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
  </div>
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="about-div-3-cont" style="padding: 5%; text-align: right">
      <h2>World-class Amenities</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
    <div class="about-div-3-cont">
      <img src="./assets/img/about/about-3.jpg" alt="banner-1">
    </div>
  </div>
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="about-div-3-cont">
      <img src="./assets/img/about/about-4.jpg" alt="banner-1">
    </div>
    <div class="about-div-3-cont" style="padding: 5%">
      <h2>Fine Dine & More</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
  </div>
</div>

<div class="about-div-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="d-flex flex-column align-items-center justify-content-center about-div-4-cont">
          <div class="img-div">
            <img src="./assets/img/about/key.png" alt="key">
          </div>
          <h2>30</h2>
          <span>5-star Rooms</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="d-flex flex-column align-items-center justify-content-center about-div-4-cont">
          <div class="img-div">
            <img src="./assets/img/about/medal.png" alt="medal">
          </div>
          <h2>3</h2>
          <span>Awards Received</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="d-flex flex-column align-items-center justify-content-center about-div-4-cont">
          <div class="img-div">
            <img src="./assets/img/about/bbq.png" alt="bbq">
          </div>
          <h2>100</h2>
          <span>BBQ Party Arranged</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="d-flex flex-column align-items-center justify-content-center about-div-4-cont">
          <div class="img-div">
            <img src="./assets/img/about/event.png" alt="event">
          </div>
          <h2>40K</h2>
          <span>Events Managed</span>
        </div>
      </div>
    </div>
  </div>
</div>
