<div class="background-image" style="background-image: url(/assets/img/contact/contact-main-banner.jpg)">
  <div class="overlay-mf"></div>
  <div class="d-sm-flex align-items-center justify-content-between" style="padding: 30px 40px">
    <h1>Blog</h1>
    <p><span routerLink="/home">Home</span> / Blog</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-6.jpg" class="card-img-top" alt="blog 7">
        <div class="card-body">
          <h5 class="card-title">Dazed & Confused</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;Entertainment</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-7.jpg" class="card-img-top" alt="blog 8">
        <div class="card-body">
          <h5 class="card-title">Like Thousand Rolling Stones</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;Culture</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

  </div>
</div>
