<div class="col-12 carousel-wrapper">

  <div class="d-none d-lg-block check-availability-div">
    <div class="d-flex align-items-center justify-content-center">
      <p style="margin: 10px; width: 100%">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label style="color: white">Arrival Date</mat-label>
          <input matInput [matDatepicker]="dp2" disabled style="color: white" [min]="ArrivalMinDate"
                 [(ngModel)]="DepartureMinDate" class="arrivalDate">
          <mat-datepicker-toggle matSuffix [for]="dp2" style="color: white"></mat-datepicker-toggle>
          <mat-datepicker #dp2 disabled="false"></mat-datepicker>
        </mat-form-field>
      </p>
      <p style="margin: 10px; width: 100%">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label style="color: white">Departure Date</mat-label>
          <input matInput [matDatepicker]="dp3" disabled style="color: white" [min]="DepartureMinDate"
                 [(ngModel)]="ArrivalMaxDate" class="departureDate">
          <mat-datepicker-toggle matSuffix [for]="dp3" style="color: white"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p style="margin: 10px; width: 100%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label style="color: white">Adult</mat-label>
          <mat-select style="color: white;" [(ngModel)]="selectCustomer">
            <mat-option value="2">2</mat-option>
            <mat-option value="4">4</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p style="margin: 10px; width: 100%">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label style="color: white">Children</mat-label>
          <mat-select style="color: white;" [(ngModel)]="selectChildren">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
    <button class="check-available-btn" (click)="availabilityBtn()"
            [routerLink]="activeAvailableBtn?'/hotel-booking':''">Double
      Tap to Check Availability
    </button>
  </div>

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="./assets/img/home/main-carsol-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-flex align-items-center justify-content-center flex-column">
          <h2>Luxury Times.</h2>
          <h2>Bay & Beyond.</h2>
          <h5>The finest hotel near Panama Beach</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./assets/img/home/main-carsol-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-flex align-items-center justify-content-center flex-column">
          <h2>Comfort & More.</h2>
          <h2>Bay & Beyond.</h2>
          <h5>The finest hotel near Panama Beach</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="d-block d-sm-block d-md-none d-lg-none check-availability-div2">
    <div class="d-sm-flex align-items-center justify-content-center">
      <p style="margin: 10px; width: 95%">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Arrival Date</mat-label>
          <input matInput [matDatepicker]="dp4" disabled [min]="ArrivalMinDate"
                 [(ngModel)]="DepartureMinDate" class="arrivalDate">
          <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
          <mat-datepicker #dp4 disabled="false"></mat-datepicker>
        </mat-form-field>
      </p>
      <p style="margin: 10px; width: 95%">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Departure Date</mat-label>
          <input matInput [matDatepicker]="dp5" disabled [min]="DepartureMinDate"
                 [(ngModel)]="ArrivalMaxDate" class="departureDate">
          <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
          <mat-datepicker #dp5 disabled="false"></mat-datepicker>
        </mat-form-field>
      </p>
    </div>
    <div class="d-sm-flex align-items-center justify-content-center">
      <p style="margin: 10px; width: 95%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Adult</mat-label>
          <mat-select [(ngModel)]="selectCustomer">
            <mat-option value="2">2</mat-option>
            <mat-option value="4">4</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p style="margin: 10px; width: 95%;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Children</mat-label>
          <mat-select [(ngModel)]="selectChildren">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
    <button class="check-available-btn" (click)="availabilityBtn()"
            [routerLink]="activeAvailableBtn?'/hotel-booking':''">Double
      Tap to Check Availability
    </button>
  </div>
</div>

<div class="container">
  <div class="home-div-2">
    <span>ACCOMMODATION & COMFORT</span>
    <h2>Eco-Inspired Lodging</h2>
    <div class="room-list">
      <div class="card room-item" style="width: 18rem;" routerLink="/family">
        <img src="./assets/img/home/normal-room-1.jpg" class="card-img-top" alt="room-1">
        <div class="card-body">
          <h3>Family</h3>
          <p class="card-text">Starting from $55.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/penthouse">
        <img src="./assets/img/home/normal-room-2.jpg" class="card-img-top" alt="room-2">
        <div class="card-body">
          <h3>Penthouse Suite</h3>
          <p class="card-text">Starting from $75.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/family-double">
        <img src="./assets/img/home/normal-room-3.jpg" class="card-img-top" alt="room-3">
        <div class="card-body">
          <h3>Family Double</h3>
          <p class="card-text">Starting from $80.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/executive">
        <img src="./assets/img/home/normal-room-4.jpg" class="card-img-top" alt="room-4">
        <div class="card-body">
          <h3>Executive Room</h3>
          <p class="card-text">Starting from $35.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/junior">
        <img src="./assets/img/home/normal-room-5.jpg" class="card-img-top" alt="room-5">
        <div class="card-body">
          <h3>Junior Suite</h3>
          <p class="card-text">Starting from $20.0/ Night</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-div-3 d-lg-flex">
  <div class="div-3-left-side">
    <img src="./assets/img/home/assest-image-1.jpg" alt="assets-1">
  </div>
  <div class="div-3-right-side d-flex flex-column justify-content-center">
    <h3>Get Home-like Ambience</h3>
    <p>A self-described luxury temporary residence, the AKA Beverly Hills offers guests the space and comfort of an
      apartment, with the service and amenities you’d expect at a five-star hotel.</p>
    <button routerLink="/penthouse">
      VIEW EXCLUSIVE ROOM
    </button>
  </div>
</div>

<div class="container">
  <div class="home-div-4">
    <span>VACATION AT EASE</span>
    <h2>Inspired Incentives</h2>
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="div-4-item">
            <mat-icon>flight</mat-icon>
            <span>Airport Pickup</span>
            <p>We’ll pick up from airport while you comfy on your ride.</p>
            <img src="./assets/img/home/div-4-plane-assets.webp" alt="...">
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="div-4-item">
            <mat-icon>fastfood</mat-icon>
            <span>Complementary Breakfast</span>
            <p>Don’t spend a dime on breakfast. It’s on us, totally.</p>
            <img src="./assets/img/home/div-4-breakfast-assets.jpg" alt="...">
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="div-4-item">
            <mat-icon>two_wheeler</mat-icon>
            <span>City Tour Guide</span>
            <p>Explore city with our in-house tour guide. We got your back.</p>
            <img src="./assets/img/home/div-4-travel-assets.jpg" alt="...">
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="div-4-item">
            <mat-icon>outdoor_grill</mat-icon>
            <span>Beach BBQ Party</span>
            <p>Kick back on the beach & cook up recipes from our masterchef.</p>
            <img src="./assets/img/home/div-4-bbq-assets.jpg" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background-image" style="background-image: url(./assets/img/home/normal-room-1.jpg)">
  <div class="overlay-mf"></div>
  <div class="d-flex flex-column align-items-center justify-content-center" style="width: 100%;padding: 15% 0;">
    <!-- Button trigger modal -->
    <mat-icon class="btn btn-primary video-btn" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/Jfrjeg26Cwk" data-bs-target="#myModal" style="z-index: 1">
      play_circle
    </mat-icon>
<!--    <mat-icon>play_circle</mat-icon>-->
    <span>Explore. Wander. Disappear.</span>
    <h3>The Great Escape</h3>
    <h3>You'll Remember.</h3>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>


      </div>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

  // Gets the video src from the data-src on each button

  var $videoSrc;
  $('.video-btn').click(function() {
  $videoSrc = $(this).data( "src" );
  });
console.log($videoSrc);



// when the modal is opened autoplay it
$('#myModal').on('shown.bs.modal', function (e) {

  // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
  $("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" );
  })



// stop playing the youtube video when I close the modal
$('#myModal').on('hide.bs.modal', function (e) {
  // a poor man's stop video
  $("#video").attr('src',$videoSrc);
  })

// document ready
  });
</script>
