<div class="container">
  <div class="item d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="item-left d-md-flex d-lg-flex">
      <div class="item-image-div">
        <img src="./assets/img/rooms/room%201.jpg" alt="room 1">
      </div>
      <div class="item-context">
        <h2>Contemporary Suites</h2>
        <div class="d-flex">
          <mat-icon>groups</mat-icon><span>Capability 2</span>&nbsp;&nbsp;
          <mat-icon>person</mat-icon><span>Children 0</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur, doloremque eos esse expedita
          labore nisi officiis sequi suscipit veritatis...</p>
        <div class="d-flex justify-content-between">
          <mat-icon>wifi</mat-icon>
          <mat-icon>tv</mat-icon>
          <mat-icon>newspaper</mat-icon>
          <mat-icon>bathtub</mat-icon>
          <mat-icon>restaurant</mat-icon>
          <mat-icon>hotel</mat-icon>
          <mat-icon>call</mat-icon>
          <mat-icon>liquor</mat-icon>
        </div>
      </div>
    </div>
    <div class="item-right"></div>
  </div>
</div>
