<div class="main-banner">
  <img src="./assets/img/spa/spa-main-banner.jpg" alt="main-banner">
  <div class="banner-content">
    <span>RELAX IN STYLE</span>
    <h1>Spa Package</h1>
  </div>
</div>

<div class="spa-div-2">
  <div class="container">
    <div class="spa-div">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="div-2-item">
              <div class="icon-img">
                <img src="./assets/img/spa/spa-icon-1.png" alt="...">
              </div>
              <span>Oil Massage</span>
              <p>Get olive oil massage from expert Thai girls for your relaxation</p>
              <img src="./assets/img/spa/spa-1.jpeg" alt="...">
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="div-2-item">
              <div class="icon-img">
                <img src="./assets/img/spa/spa-icon-2.png" alt="...">
              </div>
              <span>Natural Relaxation</span>
              <p>We offer complimentary skin scrub that smoothness skin</p>
              <img src="./assets/img/spa/spa-2.jpg" alt="...">
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="div-2-item">
              <div class="icon-img">
                <img src="./assets/img/spa/spa-icon-3.png" alt="...">
              </div>
              <span>Organic Elements</span>
              <p>We use authentic & organic creams that's perfect for your body</p>
              <img src="./assets/img/spa/spa-3.jpg" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spa-div-3">
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="spa-div-3-cont">
      <img src="./assets/img/spa/spa-1.jpeg" alt="banner-1">
    </div>
    <div class="spa-div-3-cont" style="padding: 5%">
      <h2>Relax Like Never Before</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
  </div>
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="spa-div-3-cont" style="padding: 5%; text-align: right">
      <h2>Floral Ingredients</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
    <div class="spa-div-3-cont">
      <img src="./assets/img/spa/spa-2.jpg" alt="banner-2">
    </div>
  </div>
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="spa-div-3-cont">
      <img src="./assets/img/spa/spa-3.jpg" alt="banner-3">
    </div>
    <div class="spa-div-3-cont" style="padding: 5%">
      <h2>Sparkle & Frost Massage</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center spa-div-4">
  <p>Revitalize and rejuvenate the mind, body and soul in our hotel. Mind body connection is all that’s needed on a vacation.</p>
  <span>CONTACT US</span>
  <div style="width: 100px; height: 2px; background-color: #ccbaa4;"></div>
</div>
