.main-banner{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .overlay-half {
    background: linear-gradient(to top, #000000 20%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    opacity: .5;
  }

  .main-banner-content{
    width: 100%;
    height: 84vh;
    padding: 3% 4%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h1{
      color: white;
      font-weight: bold;
      font-family: 'Aboreto', cursive;
      font-size: 30px;
      text-shadow: 1px 1px 2px black;
    }
    h3{
      color: white;
      font-family: 'Kanit', sans-serif;
      font-weight: bolder;
      text-shadow: 1px 1px 2px black;
    }
  }
}

.container{
  padding-top: 5%;

  .right-div{
    min-width: 70%;
    flex: 1;
    min-height: 300px;
    padding: 1%;

    .card{
      margin-bottom: 2%;

      .card-body{
        * {
          box-sizing: border-box;
        }

        $max-img-width: 1600px;
        $max-img-height: 900px;

        img {
          width: 100%;
          vertical-align: top;
        }

        .gallery {
          display: flex;
          margin: 10px auto;
          max-width: $max-img-width;
          position: relative;
          padding-top: $max-img-height/$max-img-width * 100%;

          &__img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }

          &__thumb {
            padding-top: 6px;
            margin: 6px;
            display: block;
          }

          &__selector {
            position: absolute;
            opacity: 0;
            visibility: hidden;

            &:checked {
              + .gallery__img {
                opacity: 1;
              }
              ~ .gallery__thumb > img {
                box-shadow: 0 0 0 3px #0be2f6;;
              }
            }
          }
        }
      }
    }

    .switch-div{
      width: 100%;

      .overview-div {
        border: 1px solid silver;
        width: 100%;
        border-radius: 0 0 5px 5px;

        .overview-context{
          flex: 1;
          padding: 2%;

          p{
            font-weight: bold;
            font-size: 14px;

            span{
              font-weight: normal;
              color: dimgray;
            }
          }
        }
      }

      .features-div{
        border: 1px solid silver;
        width: 100%;border-radius: 0 0 5px 5px;

        .feature-context{
          flex: 1;
          padding: 2%;

          .mat-icon{
            color: #dccab4;
          }

          span{
            color: dimgray;
          }
        }
      }

      button{
        height: 40px;
        border-radius: 5px 5px 0 0;
        border: none;
        margin-right: 5px;
        padding: 0 20px;
        color: white;
      }
    }
  }

  .left-div{
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;

    .card{
      margin-bottom: 2%;

      .card-body{
        .card-3{
          margin: 10px 0;
          .mat-icon, span{
            color: dimgray;
          }

          span{
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }
}
