<div class="main-outer">
  <div class="nav-div sticky-top">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid" style="">
        <div style="width: 80px; padding: 20px; background-color: black; margin: 0 30px">
          <img
            src="./assets/img/logo.png"
            alt="" style="width: 100%" routerLink="/home">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Rooms</a>
              <div class="dropdown-content">
                <a routerLink="/hotel-booking">Room Booking List</a>
                <a routerLink="/room-cards">Room Cards</a>
                <a routerLink="/room-carousel">Room Carousel</a>
                <a routerLink="/penthouse">Room Single</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
              <div class="dropdown-content">
                <a routerLink="/about">About</a>
                <a routerLink="/dining">Dining</a>
                <a routerLink="/spa">SPA</a>
                <a routerLink="/terms">Terms & Conditions</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
              <div class="dropdown-content">
                <a routerLink="/blog">Blog List</a>
                <a routerLink="/blog-single">Blog Single</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>

          <button class="btn btn-outline-warning" type="submit" routerLink="/hotel-booking">Book Now</button>

        </div>
      </div>
    </nav>

  </div>

  <router-outlet></router-outlet>

</div>
