.main-outer{
  width: 100%;
  height: auto;
  min-height: 80px;

  .nav-div{
    width: 100%;

   .nav-item {
      position: relative;
      display: inline-block;
      padding-right: 1vw;
      padding-left: 0;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      width: auto;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: dimgray;
      font-size: 14px;
      font-family: 'Barlow', sans-serif;
      background-color: white;
      padding: 8px 20px;
      text-decoration: none;
      display: block;
      white-space: nowrap;
    }
    .dropdown-content a:hover {color: #ffffff; background-color: #ccbaa4}
    .dropdown:hover .dropdown-content {display: block;}

    .nav-link {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 450;
    }

    .nav-link:before {
      content: '';
      position: absolute;
      margin-left: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      transition: all 500ms ease;
    }

    .nav-link:hover {
      color: #ccbaa4;
    }

    .nav-link:hover:before {
      width: 35px;
    }

    .navbar .dropdown-menu {
      margin: 1.12rem 0 0;
      border-radius: 5px;
    }

    .navbar .dropdown-menu .dropdown-item {
      padding: .7rem 1.7rem;
      transition: all 500ms ease;
    }

  }

  .footer-wrapper{
    width: 100%;
    overflow: hidden;

    .footer{
      width: 100%;
      min-height: 200px;
      background-color: #111111;

      .footer-cont{
        padding: 50px 25px;

        img{
          width: 100%;
        }

        p{
          text-align: justify;
          margin-top: 15px;
          color: #ccbaa4;
        }

        h3{
          color: #fffbc5;
        }

        span{
          color: #ccbaa4;
          margin-bottom: 10px;
        }
        span:hover,a:hover{
          cursor: pointer;
          color: #aa9771;
        }

        .mat-icon{
          color: #ccbaa4;
          margin-bottom: 10px;
        }

        a{
          text-decoration: none;
          margin-bottom: 10px;
          color: #ccbaa4;
        }

        ::ng-deep .mat-form-field-appearance-outline#footer-email .mat-form-field-outline {
          background-color: rgb(255,255,255);
          border-radius: 5px;
        }
        #footer-email{
          width: 100%;
        }

        button{
          width: 100%;
          height: 50px;
          background-color: #dccab4;
          color: white;
          border-radius: 5px;
          border: none;
          padding: 10px 20px;
        }
        button:hover{
          background-color: #ccbaa4;
        }
      }
    }

    .end-bar{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;
      color: white;
      background-color: black;
    }
  }
}

