<div class="background-image" style="background-image: url(/assets/img/home/normal-room-1.jpg)">
  <div class="overlay-mf"></div>
  <div class="d-sm-flex align-items-center justify-content-between" style="padding: 30px 40px">
    <h1>Room Cards</h1>
    <p><span routerLink="/home">Home</span> / Room Cards</p>
  </div>
</div>

<div class="container">
  <div class="room-card-title d-flex flex-column align-items-center justify-content-center">
    <span>BIG SIZED ROOMS</span>
    <h2>Accommodation in Style</h2>
  </div>
</div>

<div class="room-card d-lg-flex">
  <div class="right-div">
    <div class="row">
      <div class="col-12 cl-sm-12 col-md-6 col-lg-6" routerLink="/family">
        <div class="card-item" style="background-image: url(/assets/img/home/normal-room-1.jpg);">
          <div class="fade">
            <h2>Family Room</h2>
            <span>check details ></span>
          </div>
        </div>
      </div>
      <div class="col-12 cl-sm-12 col-md-6 col-lg-6" routerLink="/penthouse">
        <div class="card-item" style="background-image: url(/assets/img/home/normal-room-2.jpg);">
          <div class="fade">
            <h2>Penthouse Suite</h2>
            <span>check details ></span>
          </div>
        </div>
      </div >
      <div class="d-none d-lg-block">
        <div class="d-flex align-items-center justify-content-center">
          <h2
            style="font-family: cursive; font-size: 50px; color: #dccab4; text-shadow: 2px 2px 2px black; margin: 10% 0; line-height: 50px">
            Explore Your Rooms</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="left-div">
    <div class="row">
      <div class="col-12 cl-sm-12 col-md-12 col-lg-12" routerLink="/family-double">
        <div class="card-item" style="background-image: url(/assets/img/home/normal-room-3.jpg);">
          <div class="fade">
            <h2>Family Double</h2>
            <span>check details ></span>
          </div>
        </div>
      </div>
      <div class="col-12 cl-sm-12 col-md-6 col-lg-6" routerLink="/executive">
        <div class="card-item" style="background-image: url(/assets/img/home/normal-room-4.jpg);">
          <div class="fade">
            <h2>Executive Room</h2>
            <span>check details ></span>
          </div>
        </div>
      </div>
      <div class="col-12 cl-sm-12 col-md-6 col-lg-6" routerLink="/junior">
        <div class="card-item" style="background-image: url(/assets/img/home/normal-room-5.jpg);">
          <div class="fade">
            <h2>Junior Suite</h2>
            <span>check details ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
