<div class="container">
  <div class="d-lg-flex justify-content-center">
    <div class="right-div">
      <router-outlet></router-outlet>
    </div>
    <div class="left-div">

      <div class="card" style="width: 100%">
        <div class="card-body">
          <h3 class="card-title">Your Reservation</h3>
          <hr>

          <h4>Arrival Date</h4>
          <p style="margin: 10px; width: 95%">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Arrival Date</mat-label>
              <input matInput [matDatepicker]="$any(dp1)" disabled [min]="ArrivalMinDate"
                     [(ngModel)]="arrivalValueDate" class="arrivalDate">
              <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1 disabled="false"></mat-datepicker>
            </mat-form-field>
          </p>
          <h4>Departure Date</h4>
          <p style="margin: 10px; width: 95%">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Departure Date</mat-label>
              <input matInput [matDatepicker]="$any(dp2)" disabled [min]="DepartureMinDate"
                     [(ngModel)]="departureValueDate" class="departureDate">
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 disabled="false"></mat-datepicker>
            </mat-form-field>
          </p>
          <h4>Adults</h4>
          <p style="margin: 10px; width: 95%;">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Adult</mat-label>
              <mat-select [(ngModel)]="adultValue">
                <mat-option value="2">2</mat-option>
                <mat-option value="3">4</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <h4>Children</h4>
          <p style="margin: 10px; width: 95%;">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Children</mat-label>
              <mat-select [(ngModel)]="childrenValue">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <button style="width: 100%; height: 40px; border: none; background-color: #ccbaa4; color: white; border-radius: 5px">CHECK AVAILABILITY</button>

        </div>
      </div>

      <div class="card" style="width: 100%">
        <div class="card-body">
          <h3 class="card-title">Cart</h3>
          <hr>
          <h5 class="card-subtitle mb-2 text-muted">your cart is empty</h5>
        </div>
      </div>

      <div class="card" style="width: 100%">
        <div class="card-body">
          <h3 class="card-title">Why Hotel Luxe</h3>
          <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>
</div>
