.container{
  padding-top: 5%;

  .right-div{
    border: 1px solid red;
    min-width: 70%;
    flex: 1;
    min-height: 300px;
  }

  .left-div{
    border: 1px solid red;
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card{
      margin-bottom: 2%;
    }
  }
}

