.container{
  padding-top: 5%;

  .right-div{
    min-width: 70%;
    flex: 1;
    min-height: 300px;

    button{
      border: 1px solid silver;
      padding: 1% 2%;
      margin: 1%;
      color: dimgray;
      background-color: white;
    }
    button:hover{
      background-color: #dccab4;
      color: white;
    }
  }

  .left-div{
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card{
      margin-bottom: 2%;

      .card-body{
        .card-3{
          margin: 10px 0;
          .mat-icon, span{
            color: dimgray;
          }

          span{
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }
}

