.background-image {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .overlay-mf {
    background-color: #111111;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
  }

  h1{
    color: white;
    z-index: 1;
  }

  p{
    color: white;
    z-index: 1;

    span:hover{
      color: #ccbaa4;
      cursor: pointer;
    }
  }
}

.container{
  padding-top: 5%;

  .right-div{
    min-width: 70%;
    flex: 1;
    min-height: 300px;

    button{
      border: 1px solid silver;
      padding: 1% 2%;
      margin: 1%;
      color: dimgray;
      background-color: white;
    }
    button:hover{
      background-color: #dccab4;
      color: white;
    }
  }

  .left-div{
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card{
      margin-bottom: 2%;

      .card-body{
        .card-3{
          margin: 10px 0;
          .mat-icon, span{
            color: dimgray;
          }

          span{
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }
}

