<div class="background-image" style="background-image: url(/assets/img/contact/contact-main-banner.jpg)">
  <div class="overlay-mf"></div>
  <div class="d-sm-flex align-items-center justify-content-between" style="padding: 30px 40px">
    <h1>Blog</h1>
    <p><span routerLink="/home">Home</span> / Blog</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hello world!</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;Uncategorized</span></div>
          <p class="card-text">Welcome to Hotel Luxe Sites. This is your first post. Edit or delete it, then start blogging!</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-1.jpg" class="card-img-top" alt="blog 2">
        <div class="card-body">
          <h5 class="card-title">Great Places to Stay at Atlanta</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;Entertainment</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-2.jpg" class="card-img-top" alt="blog 3">
        <div class="card-body">
          <h5 class="card-title">Our Chef’s Secret Sauce</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;Culture</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-3.jpg" class="card-img-top" alt="blog 4">
        <div class="card-body">
          <h5 class="card-title">Staying in Style Forever</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;lifestyle</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-4.jpg" class="card-img-top" alt="blog 5">
        <div class="card-body">
          <h5 class="card-title">Electric Feel And Of Other Things</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;lifestyle</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="./assets/img/blog/blog-list/img-5.jpg" class="card-img-top" alt="blog 6">
        <div class="card-body">
          <h5 class="card-title">Why Hotel Comfort is Important</h5>
          <div class="d-flex align-items-center"><h3>Bob Willms&nbsp;</h3><p> on </p><span>&nbsp;lifestyle</span></div>
          <p class="card-text">While there’s nothing better than relaxing in a lounge chair on the beach, some days you just want to enjoy …</p>
          <a href="#">READ MORE &blacktriangleright;</a>
        </div>
      </div>
    </div>

  </div>
</div>
