<div class="container">
  <div class="item d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="item-left d-md-flex d-lg-flex">
      <div class="item-image-div">
        <img src="./assets/img/rooms/room%209.jpg" alt="room 9">
      </div>
      <div class="item-context">
        <h2 id="Penthouse">Penthouse Suite</h2>
        <div class="d-flex align-items-center">
          <mat-icon>groups</mat-icon><span>Capability <span id="Penthouse-capacity">9</span></span>&nbsp;&nbsp;
          <mat-icon>person</mat-icon><span>Children <span id="Penthouse-children">2</span></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur, doloremque eos esse expedita
          labore nisi officiis sequi suscipit veritatis...</p>
        <div class="d-flex justify-content-between">
          <mat-icon matTooltip="Wifi">wifi</mat-icon>
          <mat-icon matTooltip="Television">tv</mat-icon>
          <mat-icon matTooltip="Local Newspaper">newspaper</mat-icon>
          <mat-icon matTooltip="Bathtub">bathtub</mat-icon>
          <mat-icon matTooltip="Room Breakfast">restaurant</mat-icon>
          <mat-icon matTooltip="Spa">hotel</mat-icon>
          <mat-icon matTooltip="Wakeup Call">call</mat-icon>
          <mat-icon matTooltip="Mini Bar">liquor</mat-icon>
        </div>
      </div>
    </div>

    <div style="width: 1px; height: 250px; border: 1px solid silver" class="d-none d-md-block"></div>

    <div class="item-right d-flex flex-column align-items-center justify-content-center">
      <span>price</span>
      <h2 id="Penthouse-price">$94.00</h2>
      <button (click)="PenthouseClick()">SELECT ROOM</button>
    </div>
  </div>

  <div class="item d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="item-left d-md-flex d-lg-flex">
      <div class="item-image-div">
        <img src="./assets/img/rooms/room%202.jpg" alt="room 2">
      </div>
      <div class="item-context">
        <h2 id="Luxury">Luxury Suite</h2>
        <div class="d-flex align-items-center">
          <mat-icon>groups</mat-icon><span>Capability <span id="Luxury-capacity">9</span></span>&nbsp;&nbsp;
          <mat-icon>person</mat-icon><span>Children <span id="Luxury-children">2</span></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur, doloremque eos esse expedita
          labore nisi officiis sequi suscipit veritatis...</p>
        <div class="d-flex justify-content-between">
          <mat-icon matTooltip="Wifi">wifi</mat-icon>
          <mat-icon matTooltip="Television">tv</mat-icon>
          <mat-icon matTooltip="Local Newspaper">newspaper</mat-icon>
          <mat-icon matTooltip="Bathtub">bathtub</mat-icon>
          <mat-icon matTooltip="Room Breakfast">restaurant</mat-icon>
          <mat-icon matTooltip="Spa">hotel</mat-icon>
          <mat-icon matTooltip="Wakeup Call">call</mat-icon>
          <mat-icon matTooltip="Mini Bar">liquor</mat-icon>
        </div>
      </div>
    </div>

    <div style="width: 1px; height: 250px; border: 1px solid silver" class="d-none d-md-block"></div>

    <div class="item-right d-flex flex-column align-items-center justify-content-center">
      <span>price</span>
      <h2 id="Luxury-price">$94.00</h2>
      <button (click)="LuxuryClick()">SELECT ROOM</button>
    </div>
  </div>

</div>
