<div class="main-banner">
  <img src="./assets/img/dining/dining-main-banner.jpg" alt="main-banner">
  <div class="banner-content">
    <span>FINEST DINING IN TOWN</span>
    <h1>Food to Remember</h1>
  </div>
</div>

<div class="container">
  <div class="d-md-flex d-lg-flex justify-content-center" style="margin: 5vw 0">
    <div class="first-div-content">
      <h1>“After a good dinner one can forgive anybody, even one’s own relations.” ― Oscar Wilde</h1>
    </div>
    <div class="first-div-content">
      <p>In these days of gastro pubs and boutique guest houses we remain, above all else an inn and as centuries of
        tradition dictate, our priority is to offer a warm welcome and a restorative stay.</p>
    </div>
  </div>
</div>

<div class="dining-div-3">
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="dining-div-3-cont">
      <img src="./assets/img/dining/dining-image-1.jpg" alt="banner-1">
    </div>
    <div class="dining-div-3-cont" style="padding: 5%">
      <h2>Locally Sourced Ingredients</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
  </div>
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="dining-div-3-cont" style="padding: 5%; text-align: right">
      <h2>Slow-cooked Masterpiece</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
    <div class="dining-div-3-cont">
      <img src="./assets/img/dining/dining-image-2.jpg" alt="banner-2">
    </div>
  </div>
  <div class="d-md-flex d-lg-flex align-items-center justify-content-center">
    <div class="dining-div-3-cont">
      <img src="./assets/img/dining/dining-image-3.jpg" alt="banner-3">
    </div>
    <div class="dining-div-3-cont" style="padding: 5%">
      <h2>Fresh. Authentic. Tasty.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi consequatur culpa debitis dolor
        dolore dolorem dolorum ducimus earum, ex fugiat, fugit, laborum maxime non obcaecati odio officia possimus quos
        sequi sint tempora vitae.</p>
      <button routerLink="/penthouse">Book Now</button>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center dining-div-5">
  <p>Your culinary adventure in Burlington begins when you check in. Fresh baked goods at the Lobby Café greet you with
    delectable sights and smells before you’ve even gotten your key. Now, Bon Appétit!</p>
  <span>BOOK A TABLE</span>
  <div style="width: 100px; height: 2px; background-color: #ccbaa4;"></div>
</div>
