/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//half overlay banner
.main-banner{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .overlay-half {
    background: linear-gradient(to top, #000000 20%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    opacity: .5;
  }

  .main-banner-content{
    width: 100%;
    height: 84vh;
    padding: 3% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    h1{
      color: white;
      font-weight: bold;
      font-family: 'Aboreto', cursive;
      font-size: 30px;
      text-shadow: 1px 1px 2px black;
    }

    h3{
      color: white;
      font-family: 'Kanit', sans-serif;
      font-weight: bolder;
      text-shadow: 1px 1px 2px black;
    }

    .author{
      display: flex;
      align-items: center;
      margin: 15px 0;
      color: white;
      z-index: 2;

      .pro-pic{
        width: 3.5vw;
        height: 3.5vw;
        min-width: 30px;
        min-height: 30px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 5px;
        z-index: 2;

        img{
          width: 100%;
          height: 100%;
          border-radius: 100%;
          z-index: 2;
        }
      }

      h3,h4{
        margin: 0;
        z-index: 2;
        color: white;
      }
    }
  }
}
//half overlay banner

//blog common
.blog-det{
  padding: 0 5px;

  h1{
    font-size: 32px;
    font-family: 'Aboreto', cursive;
  }

  .author{
    display: flex;
    align-items: center;
    margin: 15px 0;

    .pro-pic{
      width: 3.5vw;
      height: 3.5vw;
      min-width: 30px;
      min-height: 30px;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 5px;

      img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    h3,h4{
      margin: 0;
    }
  }

  .blog-content{
    padding: 30px 20px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 30px;

    p{
      font-size: 18px;
      font-family: 'Kanit', sans-serif;
      color: dimgray;
      margin: 0;
    }
  }

  .comment-section{
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 30px;

    hr{
      margin: 0;
    }

    h3{
      margin: 8px 15px;
    }

    table{
      width: 100%;
      tbody{
        width: 100%;

        .commenter-pro-pic{
          padding: 5px;

          .pro-pic-wrapper{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 100%;

            img{
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }
        }

        .commenter{
          width: 80%;
          font-size: 15px;
          color: dimgray;
          padding: 10px 0;
        }
        .commenter:hover{
          cursor: pointer;
          color: silver;
        }

        .comment-date{
          width: 20%;
          font-weight: lighter;
          color: dimgray;
          font-size: 12px;
        }

        .comment{
          width: 100%;
          padding-bottom: 20px;
          font-size: 14px;
          color: dimgray;
          font-weight: lighter;
        }
      }
    }
  }

  .comment-form{
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 30px;

    hr{
      margin: 0;
    }

    h3{
      margin: 8px 15px;
    }

    .contact-form{
      padding: 10px;

      .contact-form-full-width{
        width: 100%;
      }

      .submit-btn{
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: #ccbaa4;
        color: white;
      }
    }
  }
}
//blog common

//blog single content
.blog-content{
  h4 + p:first-letter{
    font-size: 48px;
    font-weight: bolder;
    color: black;
  }

  .youtube-video{
    width: 100%;
    margin: 20px 0;
  }

  .blog-content-full-width-img{
    width: 100%;
    margin: 20px 0;

    img{
      width: 100%;
    }
  }

  h3{
    font-size: 22px;
  }
}
//blog single content

//rooms content
.room-page-content{
  .right-div{
    min-width: 70%;
    flex: 1;
    min-height: 300px;
    padding: 1%;

    .card{
      margin-bottom: 2%;

      .card-body{
        * {
          box-sizing: border-box;
        }

        $max-img-width: 1600px;
        $max-img-height: 900px;

        img {
          width: 100%;
          vertical-align: top;
        }

        .gallery {
          display: flex;
          margin: 10px auto;
          max-width: $max-img-width;
          position: relative;
          padding-top: $max-img-height/$max-img-width * 100%;

          &__img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }

          &__thumb {
            padding-top: 6px;
            margin: 6px;
            display: block;
          }

          &__selector {
            position: absolute;
            opacity: 0;
            visibility: hidden;

            &:checked {
              + .gallery__img {
                opacity: 1;
              }
              ~ .gallery__thumb > img {
                box-shadow: 0 0 0 3px #0be2f6;;
              }
            }
          }
        }

        span{
          color: dimgray;
          margin-bottom: 20px;
        }

        .mat-icon{
          color: dimgray;
        }
      }
    }

    .switch-div{
      width: 100%;
      margin-bottom: 2%;

      .overview-div {
        border: 1px solid silver;
        width: 100%;
        border-radius: 0 0 5px 5px;

        .overview-context{
          flex: 1;
          padding: 2%;

          p{
            font-weight: bold;
            font-size: 14px;

            span{
              font-weight: normal;
              color: dimgray;
            }
          }
        }
      }

      .features-div{
        border: 1px solid silver;
        width: 100%;border-radius: 0 0 5px 5px;

        .feature-context{
          flex: 1;
          padding: 2%;

          .mat-icon{
            color: #dccab4;
          }

          span{
            color: dimgray;
          }
        }
      }

      button{
        height: 40px;
        border-radius: 5px 5px 0 0;
        border: none;
        margin-right: 5px;
        padding: 0 20px;
        color: white;
      }
    }

    .mat-checkbox .mat-checkbox-frame {
      border-color: black;
      background-color: #dddddd;
      width: 20px;
      height: 20px;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      margin-top: 1px;
      margin-left: 1px;
      width: 18px;
      height: 18px;
    }

  }

  .left-div{
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;

    .card{
      margin-bottom: 2%;

      .card-body{
        .card-3{
          margin: 10px 0;
          .mat-icon, span{
            color: dimgray;
          }

          span{
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }
}
//rooms content

//scrollbar
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar:horizontal{
  height: 24px;
}
::-webkit-scrollbar-track:horizontal {
  //background-color: transparent;
  display: none;
}
::-webkit-scrollbar-thumb:horizontal {
  display: none;
}
::-webkit-scrollbar-button:single-button {
  background-color: #082032;
  display: block;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-radius: 5px 0 0 5px;
  height: 24px;
  width: 24px;
  background-position: 6px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-radius: 0 5px 5px 0;
  height: 24px;
  width: 24px;
  background-position: 6px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
//scrollbar
