/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//half overlay banner
.main-banner{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .overlay-half {
    background: linear-gradient(to top, #000000 20%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    opacity: .5;
  }

  .main-banner-content{
    width: 100%;
    height: 84vh;
    padding: 3% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    h1{
      color: white;
      font-weight: bold;
      font-family: 'Aboreto', cursive;
      font-size: 30px;
      text-shadow: 1px 1px 2px black;
    }

    .author{
      display: flex;
      align-items: center;
      margin: 15px 0;
      color: white;
      z-index: 2;

      .pro-pic{
        width: 3.5vw;
        height: 3.5vw;
        min-width: 30px;
        min-height: 30px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 5px;
        z-index: 2;

        img{
          width: 100%;
          height: 100%;
          border-radius: 100%;
          z-index: 2;
        }
      }

      h3,h4{
        margin: 0;
        z-index: 2;
        color: white;
      }
    }
  }
}
//half overlay banner

//blog common
.blog-det{
  padding: 0 5px;

  h1{
    font-size: 32px;
    font-family: 'Aboreto', cursive;
  }

  .author{
    display: flex;
    align-items: center;
    margin: 15px 0;

    .pro-pic{
      width: 3.5vw;
      height: 3.5vw;
      min-width: 30px;
      min-height: 30px;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 5px;

      img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    h3,h4{
      margin: 0;
    }
  }

  .blog-content{
    padding: 30px 20px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 30px;

    p{
      font-size: 18px;
      font-family: 'Kanit', sans-serif;
      color: dimgray;
      margin: 0;
    }
  }

  .comment-section{
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 30px;

    hr{
      margin: 0;
    }

    h3{
      margin: 8px 15px;
    }

    table{
      width: 100%;
      tbody{
        width: 100%;

        .commenter-pro-pic{
          padding: 5px;

          .pro-pic-wrapper{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 100%;

            img{
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }
        }

        .commenter{
          width: 80%;
          font-size: 15px;
          color: dimgray;
          padding: 10px 0;
        }
        .commenter:hover{
          cursor: pointer;
          color: silver;
        }

        .comment-date{
          width: 20%;
          font-weight: lighter;
          color: dimgray;
          font-size: 12px;
        }

        .comment{
          width: 100%;
          padding-bottom: 20px;
          font-size: 14px;
          color: dimgray;
          font-weight: lighter;
        }
      }
    }
  }

  .comment-form{
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 30px;

    hr{
      margin: 0;
    }

    h3{
      margin: 8px 15px;
    }

    .contact-form{
      padding: 10px;

      .contact-form-full-width{
        width: 100%;
      }

      .submit-btn{
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: #ccbaa4;
        color: white;
      }
    }
  }
}
//blog common

//blog single content
.blog-content{
  h4 + p:first-letter{
    font-size: 48px;
    font-weight: bolder;
    color: black;
  }

  .youtube-video{
    width: 100%;
    margin: 20px 0;
  }

  .blog-content-full-width-img{
    width: 100%;
    margin: 20px 0;

    img{
      width: 100%;
    }
  }

  h3{
    font-size: 22px;
  }
}
//blog single content
