<div class="background-image" style="background-image: url(/assets/img/contact/contact-main-banner.jpg)">
  <div class="overlay-mf"></div>
  <div class="d-sm-flex align-items-center justify-content-between" style="padding: 30px 40px">
    <h1>Rooms Carousel</h1>
    <p><span routerLink="/home">Home</span> / Rooms Carousel</p>
  </div>
</div>

<div class="container">
  <div class="home-div-2">
    <span>BIG SIZED ROOMS</span>
    <h2>Accommodation in Style</h2>
    <div class="room-list">
      <div class="card room-item" style="width: 18rem;" routerLink="/family">
        <img src="./assets/img/home/normal-room-1.jpg" class="card-img-top" alt="room-1">
        <div class="card-body">
          <h3>Family</h3>
          <p class="card-text">Starting from $55.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/penthouse">
        <img src="./assets/img/home/normal-room-2.jpg" class="card-img-top" alt="room-2">
        <div class="card-body">
          <h3>Penthouse Suite</h3>
          <p class="card-text">Starting from $75.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/family-double">
        <img src="./assets/img/home/normal-room-3.jpg" class="card-img-top" alt="room-3">
        <div class="card-body">
          <h3>Family Double</h3>
          <p class="card-text">Starting from $80.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/executive">
        <img src="./assets/img/home/normal-room-4.jpg" class="card-img-top" alt="room-4">
        <div class="card-body">
          <h3>Executive Room</h3>
          <p class="card-text">Starting from $35.0/ Night</p>
        </div>
      </div>
      <div class="card room-item" style="width: 18rem;" routerLink="/junior">
        <img src="./assets/img/home/normal-room-5.jpg" class="card-img-top" alt="room-5">
        <div class="card-body">
          <h3>Junior Suite</h3>
          <p class="card-text">Starting from $20.0/ Night</p>
        </div>
      </div>
    </div>
  </div>
</div>
